<!DOCTYPE HTML>

<html>
	<head>
		<title>Carbon Vista | Home</title>
		<link rel="apple-touch-icon" sizes="180x180" href="./static/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./static/images/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
		
		<style>
			#loading,
			#results {
			  display: none;
			}
			#loading {
			  width: 100%;
			}
		div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 150px;
      }

		  </style>
	</head>
	<body class="is-preload">
		

		<!-- Header -->
			<section id="header">
				

                
				<div class="inner">
					
					<!-- <span class="icon solid major fa-cloud"></span> -->
					<img src="./static/images/logo2.png" alt="Digital Experts">

					<h1><strong>Digital</strong> Experts<br />
					</h1>
					<p>What's your carbon CBAM?</p>
					<ul class="actions special">
						<li><a href="#two" class="button scrolly">Calculate</a></li>
					</ul>
				</div>
			</section>

		

		<!-- Two -->
			<section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li><span class="icon solid style1 major fa-code"></span></li>
								<li><span class="icon solid style2 major fa-bolt"></span></li>
								<li><span class="icon solid style3 major fa-camera-retro"></span></li>
								<li><span class="icon solid style4 major fa-cog"></span></li>
								<li><span class="icon solid style5 major fa-desktop"></span></li>
								<li><span class="icon solid style6 major fa-calendar"></span></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							
						
						






							</head>
							<body class="bg-dark">
							  <div class="container">
								<div class="row">
								  <div class="col-lg-6 mx-auto">
									<div class="card card-body text-center mt-5">
									  <h1 class="heading display-5 pb-3">CMAB Calculator</h1>
									  <form action="submit" method="post" class="reveal-content">

 <div class="col-sm-10">

                    <input name="total" type="number" id="name" placeholder="Total Production Amount" style="width: 250px;"  

</div>
<strong for="name">Ton</strong>
<div class="col-sm-10">

                    <input name="cost" type="number" id="cost" placeholder="Cost" style="width: 250px; position:relative; left:0px;"/>
<strong for="cost">Euro/Tone</strong>

</div>



<div class="col-sm-10">

                    <input name="st" type="number" placeholder="1st Element %"  style="width: 180px; position:relative; left:0px; top:40px;"/>
			<input name="nd" type="number" placeholder="2nd Element %"  style="width: 180px; position:relative; left:10px; top:40px;"/>
<input name="rd" type="number" placeholder="3rd Element %"  style="width: 180px; position:relative; left:388px;top:4px;"/>
</div>

										<input
											type="submit"
											value="Calculate"
											class="btn btn-dark btn-block"
											style="position:relative; left:0px;top:50px;"
								  />


<div class="col-sm-11">	
<input type = "text" type="number" placeholder="Result" value = "{{result}}"  style="width: 180px; position:relative; left:388px;top:40px;"/>
</div>	

                </form>
										
										
						  <br>

										
										 

									  <div id="loading">
										<img src="./images/Loading.png" width = "15%" alt="" />
									  </div>
						  
									  <div id="results" class="pt-4">
										<h5>Total Carbon Emissions (Pounds of CO2 Emitted / Day):</h5>
										<div class="form-group">
										  <div class="input-group">
											<input
											  type="number"
											  class="form-control"
											  id="total-calories"
											  disabled
											  style = "color:white;"
											/>
											<br><br>
											<p>To put that into perspective, all in all, the average American is responsible for about 31 pounds of carbon per day. A major factor for this number is vehicle emissions. If kept under 31 pounds, one can assist in the abating of this issue. </p>
										  </div>
										</div>
									  </div>
									</div>
								  </div>
								</div>
	
					  </div>
				  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						  
						    
						  
							  <!-- Optional JavaScript -->
							  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
							  <script
								src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
								integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
								crossorigin="anonymous"
							  ></script>
							  <script
								src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
								integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
								crossorigin="anonymous"
							  ></script>
							  <script
								src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
								integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
								crossorigin="anonymous"
							  ></script>
							</body>
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						</div>
					</div>
				</div>
			</section>

		
		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>
			<script src="./static/assets/js/calc.js"></script>

	</body>
</html>